<nav class="navbar bg-black ">
    <div class="nav">
      <a class="navbar-brand">ShowFlix</a>
      <a class="nav-link " aria-current="page" routerLink="">Home</a>
      <a class="nav-link " aria-current="page" routerLink="/favourite">Favourite</a>

      <form #searchForm="ngForm" class="d-flex fo" (ngSubmit)="search(searchForm.value)" role="search">
          
        <input class="form-control me-2" type="text" ngModel name="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <router-outlet></router-outlet>